.navbar {
  background-color: rgb(0, 0, 0);
  padding: 10px;
}
.Scroll-Toggle {
  background-color: aliceblue;
}
.links {
  padding: 10px;
  font-size: 20px;
}
.Full-Width {
  background-color: black;
}
.Myshop {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  padding: 10px;
  font-size: 20px;
  height: auto;
}
.Temp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.No-items{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
}